

<!-- Search form -->
<input class="form-control mb-5 mt-5" type="text" placeholder="username" 
 id="myInput" onkeyup="SearchUser()">

<table class="table table-hover table-dark" id="myTable">
  <thead>
    <tr id="tr">
      <th scope="col">id</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Edit</th>
       <th scope="col">Edit</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td id="td">{{this.email}}</td>
      <td id="td">{{this.username}}</td>
      <td id="td"><form action="/admin/edit" method="post">
      <input type="hidden" name="id" value="{{this._id}}">
      <button type="submit">edit</button>
      
      </form></td>
      <td id="td"><form action="/admin/delete" method="post">
      <input type="hidden" name="id" value="{{this._id}}">
      <button type="submit">delete</button>
      </form></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
<form action="/logout" method="POST">
<button type="submit">logout</button>
</form>
<script>
function SearchUser() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>